{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid bg-light py-5">
  <div class="row justify-content-center">
    {% for post in post_list %}
    <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
      <div class="card h-100 shadow-sm w-100 card-hover">
        {% if "placeholder" in post.featured_image.url %}
        <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="placeholder image">
        {% else %}
        <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}

        <div class="card-body d-flex flex-column">
          <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <h5 class="card-title">{{ post.title }}</h5>
            <span class="badge text-bg-info">Author: {{ post.author }}</span>

            {% if post.excerpt %}
            <p class="card-text">{{ post.excerpt }}</p>
            {% endif %}

            <p class="card-text">{{ post.content|slice:":100" }}...</p>
          </a>
          <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary mt-auto">Read More</a>
          <p class="card-text text-muted h6 mt-2">{{ post.created_on }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}

{% block copyright %}
Copyright 2025 Richard Wells
{% endblock %}